[submodule "src/mocap"]
	path = src/mocap
	url = https://github.com/Roboy/mocap
[submodule "src/roboy_communication"]
	path = src/roboy_communication
	url = https://github.com/Roboy/roboy_communication
[submodule "src/i2c_fpga"]
	path = src/i2c_fpga
	url = https://github.com/Roboy/i2c_fpga
[submodule "pcbs/kicad_db"]
	path = pcbs/kicad_db
	url = https://github.com/Roboy/kicad_db
[submodule "third_party/cnpy"]
	path = third_party/cnpy
	url = https://github.com/rogersce/cnpy
