.ipynb_checkpoints
devel/
build/
.idea
*~
.catkin_workspace
log/
latest
src/CMakeLists.txt
cmake-build-debug/
python/hyperparameter_logs
*.mp4
*.ts
*.dat
*.pos
*.png
*.gif
*.gch
python/outputs_idp/shoulder_left_dvbf_long_trajs_ad_with_target_rot6D/*
python/outputs_idp/shoulder_left_lstm_rot6D/*
