absl-py
actionlib==1.13.2
aiohttp
alabaster==0.7.12
angles==1.9.13
appdirs==1.4.4
argon2-cffi==20.1.0
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
attrs
Babel==2.9.1
backcall==0.2.0
bagpy==0.4.5
bitstring==3.1.7
bleach==3.3.0
blinker==1.4
bondpy==1.8.6
brotlipy==0.7.0
bullet==2.2.0
cachetools
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==0.4.23
certifi==2020.12.5
cffi
chardet
click
commonmark==0.9.1
controller-manager==0.19.4
controller-manager-msgs==0.19.4
coverage
cryptograph
cv-bridge==1.15.0
cycler==0.10.0
Cytho
decorator==5.0.7
defusedxml==0.7.1
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
distro==1.5.0
docutils==0.16
dynamic-reconfigure==1.7.1
empy==3.3.4
entrypoints==0.3
flatbuffers
future==0.18.2
gast==0.4.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
gnupg==2.3.1
google-auth
google-auth-oauthlib
google-pasta==0.2.0
grpcio==1.34.1
h5py==3.1.0
idna
image-geometry==1.15.0
imagesize==1.2.0
importlib-metadata
interactive-markers==1.12.0
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing
kiwisolver==1.3.1
laser-geometry==1.6.7
laspy==1.7.0
livereload==2.6.3
lunr==0.5.8
m2r2==0.2.7
Markdown
MarkupSafe==1.1.1
matplotlib==3.2.1
message-filters==1.15.11
mistune==0.8.4
mkdocs==1.1.2
mkl-fft==1.3.0
mkl-random
mkl-service==2.3.0
multidict
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.2
notebook==6.3.0
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.2.52
openvr==1.16.801
opt-einsum
packaging==20.9
pandas==1.2.4
pandocfilters==1.4.3
parso==0.8.2
pathlib==1.0.1
pcl==0.0.0.post1
pclpy==0.12.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.14.0
psutil==5.8.0
ptyprocess==0.7.0
py3rosmsgs==1.18.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.1.7
pycairo==1.20.0
pycparser
pycryptodome==3.10.1
pycryptodomex==3.10.1
pydash==5.0.0
Pygments==2.8.1
PyJWT==1.7.1
pymdown-extensions==8.1.1
pyOpenSSL
pyparsing==2.4.7
pyquaternion==0.9.9
pyrsistent==0.17.3
pyserial==3.5
PySocks
python-dateutil
python-qt-binding==0.4.3
pytz
PyYAML==5.4.1
pyzmq==22.0.3
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qtconsole==5.0.3
QtPy==1.9.0
recommonmark==0.7.1
regex==2021.4.4
requests
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rinoh-typeface-dejavuserif==0.1.3
rinoh-typeface-texgyrecursor==0.1.1
rinoh-typeface-texgyreheros==0.1.1
rinoh-typeface-texgyrepagella==0.1.1
rinohtype==0.5.2
rosbag==1.15.11
rosboost-cfg==1.15.7
rosclean==1.15.7
roscreate==1.15.7
rosgraph==1.15.11
roslaunch==1.15.11
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.11
rosmake==1.15.7
rosmaster==1.15.11
rosmsg==1.15.11
rosnode==1.15.11
rosparam==1.15.11
rospkg==1.3.0
rospy==1.15.11
rosservice==1.15.11
rostest==1.15.11
rostopic==1.15.11
rosunit==1.15.7
roswtf==1.15.11
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.6.1
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
rsa
rviz==1.14.7
scikit-learn==0.24.2
scipy
seaborn==0.11.1
Send2Trash==1.5.0
sensor-msgs==1.13.1
Shapely==1.7.1
six
sklearn==0.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
snowballstemmer==2.1.0
Sphinx==3.2.1
sphinx-autodoc-typehints==1.4.0
sphinx-bootstrap-theme==0.7.1
sphinx-markdown-parser==0.2.4
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0
tensorflow
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
threadpoolctl==2.1.0
topic-tools==1.15.11
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
typing-extensions
unify==0.5
untokenize==0.1.1
urllib3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug
widgetsnbextension==3.5.1
wrapt==1.12.1
xacro==1.14.6
yapf==0.31.0
yarl
ytsphinx==1.2.1.dev20200430
zipp
